nav {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  margin: 1rem;
}

.logo{
  object-fit: cover;
  height: 100%;
  width: 3rem;
  margin-left: 0.2rem;
}
